<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MyMameHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MyMameHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <userSettings>
    <MyMameHelper.Properties.Settings>
      <setting name="RomSource" serializeAs="String">
        <value />
      </setting>
      <setting name="RomDestination" serializeAs="String">
        <value />
      </setting>
      <setting name="ExportFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="LastPath" serializeAs="String">
        <value />
      </setting>
      <setting name="MameFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="DataBase_Path" serializeAs="String">
        <value />
      </setting>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>False</value>
      </setting>
    </MyMameHelper.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/>
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6"/>
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6"/>
    <remove invariant="System.Data.SQLite"/><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/></DbProviderFactories>
  </system.data>
  <applicationSettings>
    <MyMameHelper.Properties.Settings>
      <setting name="T_Machines" serializeAs="String">
        <value>Machines</value>
      </setting>
      <setting name="T_Constructeurs" serializeAs="String">
        <value>Constructeurs</value>
      </setting>
      <setting name="T_TempRoms" serializeAs="String">
        <value>TempRoms</value>
      </setting>
      <setting name="T_Games" serializeAs="String">
        <value>Games</value>
      </setting>
      <setting name="T_Developers" serializeAs="String">
        <value>Developers</value>
      </setting>
      <setting name="T_Genres" serializeAs="String">
        <value>Genres</value>
      </setting>
      <setting name="T_Roms" serializeAs="String">
        <value>Roms</value>
      </setting>
      <setting name="T_Bios" serializeAs="String">
        <value>Bios</value>
      </setting>
      <setting name="T_Mechanics" serializeAs="String">
        <value>Mechanicals</value>
      </setting>
    </MyMameHelper.Properties.Settings>
  </applicationSettings>
</configuration>
